/* Buttons */
nav .btn.active {
    color: var(--desaturated-blue) !important;
}

footer .btn.active {
    color: var(--dark-blue) !important;
}
/* End Buttons */

/* Home */
.panel {
    background-color: var(--white);
    font-size: 50px;
    margin: 0.7em 0 0 0;
    border-radius: 10px;
    height: 500px;
}
/* End Home */

/* Search */
.search {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search input[type="numeric"] {
    width: 80px;
    text-align: center;
}

.search .btn.insert {
    font-weight: 700;
    border-radius: 8px;
    background: var(--bright-blue);
    color: var(--white);
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
}
/* End Search*/

/* List */
.list-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--desaturated-blue);
    padding: 1em 1em 1em 80px;
    color: var(--white);
    border-radius: 1em 1em 0 0;
    font-weight: 700;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: var(--white);
    font-weight: 500;
}

.list-item img {
    width: 80px;
}

.list-item:not(:first-child) {
    margin-top: 5px;
}

.list-name {
    width: 100%;
    text-align: center;
}

.list-state {
    width: 200px;
    text-align: center;
}

.list-item > .list-state {
    padding-left: 90px;
}

.list-type,
.list-price,
.list-interaction {
    width: 300px;
    text-align: center;
}

.list-email {
    text-align: center;
    width: 500px;
}

.list-interaction img {
    width: 25px;
    margin: 0 5px;
}
/* End List*/