/* Buttons */
nav .btn.active {
    color: var(--desaturated-blue) !important;
}

footer .btn.active {
    color: var(--dark-blue) !important;
}
/* End Buttons */

/* Home */
.panel {
    background-color: var(--white);
    font-size: 2em;
    margin: 0.7em 0 0 0;
    padding: 0.5em;
    border-radius: 10px;
    height: 500px;
    position: relative;
}

.panel .box {
    font-size: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.panel .left {
    width: 50%;
    overflow-wrap: break-word;
}

.panel .right {
    width: 50%;
    overflow-wrap: break-word;
}

.btn.logout {
    position: absolute;
    bottom: 1em;
}
/* End Home */

/* Search */
.search {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#rangeInput {
    padding: 0;
}

.search input[type="numeric"] {
    width: 80px;
    text-align: center;
}

.search .btn.insert {
    font-weight: 700;
    border-radius: 8px;
    background: var(--bright-blue);
    color: var(--white);
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
}
/* End Search*/

.list-info .list-interaction,
.list-item .list-interaction {
   display: block;
}