/* Buttons */
nav .btn.active {
    color: var(--desaturated-blue) !important;
}

footer .btn.active {
    color: var(--dark-blue) !important;
}
/* End Buttons */

/* Search */
.search {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search .btn.insert {
    font-weight: 700;
    border-radius: 8px;
    background: var(--bright-blue);
    color: var(--white);
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
}
/* End Search*/

/* List */
.list {
    background: rgba(255, 255, 255, 0.5);
    padding: 1em;
    border-radius: 0 0 1em 1em;
}

.list-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    background: var(--white);
    border-radius: 8px;
    padding: 0 15px 0 0;
}

.list-item-image {
    height: 70px;
    border-radius: 90%;
    margin-right: 15px;
}

.list-item-name {
    font-weight: 500;
    font-size: 1.2em;
}

.list-item-buttons {
    margin-left: auto;
}

.list-item-buttons img {
    width: 30px;
    margin-right: 10px;
}
/* End List*/