/* Checked Buttons */
nav .btn[data-checked='development'] {
    color: var(--desaturated-blue) !important;
}

footer .btn[data-checked='development'] {
    color: var(--dark-blue) !important;
}
/* End Checked Buttons */

/* Developers Section */
.dev {
    display: flex;
    margin: 2em auto;
    padding: 2em;
    width: 62%;
    background: var(--bright-blue);
    border-radius: 1em;
}

.dev .left {
    color: var(--white);
    text-align: left;
    height: 150px;
    
}

.dev .left h3 {
    font-size: 1.7em;
}

.dev .left p {
    font-size: 1.3em;
    margin-top: 10px;
    
}

.dev .right {
    
    text-align: center;  

    
}

.dev .right img {
    width: 145px;
    height: 145px;
    margin-right: 1em;
}
/* End Developers Section */