
/* List */
.list-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--bright-blue);
    padding: 1em 1em 1em 1.85em;
    color: var(--white);
    border-radius: 1em 1em 0 0;
    font-weight: 700;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: var(--white);
    font-weight: 500;
}

.item-deleted {
    background-color: rgb(224, 224, 224);
}

.list-item img {
    width: 80px;
}

.list-item .image{
    width: 80px;
    border: 1px solid black;
}

.list-item:not(:first-child) {
    margin-top: 5px;
}

.list-name {
    width: 100%;
    text-align: center;
}

.list-state {
    width: 200px;
    text-align: center;
}

.list-item > .list-state {
    padding-left: 1.25em;
}

.list-quantity,
.list-avalible,
.list-type,
.list-price,
.list-interaction {
    width: 300px;
    text-align: center;
}

.list-email {
    text-align: center;
    width: 600px;
}

.list-interaction {
    display: flex;
    align-items: center;
}

.list-interaction img {
    width: 25px;
    margin: 0 5px;
}

.no-order {
    border: 2px solid var(--dark-blue);
    border-radius: 1em;
    font-weight: 700;
    font-size: 1.2em;
    width: 80%;
    margin: 8em auto;
    padding: 15px;
}
/* End List*/

.list-item.out {
    opacity: .6 !important;
    background: rgb(180, 180, 180);
}

.list-item.out .list-avalible {
    font-weight: 700;
    font-size: 1.2em;
    color: var(--danger);
}

.list-item a {
    color: var(--dark-blue);
}

.list-item a:hover {
    color: var(--bright-blue);
    transition: 200ms;
}

.list-item input[type="number"] {
    border: 1px solid var(--dark-blue);
    border-radius: 8px;
    text-align: center;
    height: 30px;
    font-weight: 500;
    font-size: 1.1em;
    width: 4em;
}