
/* List */
.list-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--desaturated-blue);
    padding: 1em 1em 1em 80px;
    color: var(--white);
    border-radius: 1em 1em 0 0;
    font-weight: 700;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: var(--white);
    font-weight: 500;
}

.item-deleted {
    background-color: rgb(224, 224, 224);
}

.list-item img {
    width: 80px;
}

.list-item .image{
    width: 80px;
    border: 1px solid black;
}

.list-item:not(:first-child) {
    margin-top: 5px;
}

.list-name {
    width: 100%;
    text-align: center;
}

.list-state {
    width: 200px;
    text-align: center;
}

.list-item > .list-state {
    padding-left: 90px;
}

.list-quantity,
.list-avalible,
.list-type,
.list-price,
.list-interaction {
    width: 300px;
    text-align: center;
}

.list-email {
    text-align: center;
    width: 600px;
}

.list-interaction img {
    width: 25px;
    margin: 0 5px;
}

.no-order {
    border: 2px solid var(--dark-blue);
    border-radius: 1em;
    font-weight: 700;
    font-size: 1.2em;
    width: 80%;
    margin: 8em auto;
    padding: 15px;
}
/* End List*/