/* Checked Buttons */
nav .btn[data-checked='products'] {
    color: var(--desaturated-blue) !important;
}

footer .btn[data-checked='products'] {
    color: var(--dark-blue) !important;
}
/* End Checked Buttons */

#products {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

#products .product {
    width: 300px;
    padding: 1em;
    background: var(--white);
    border-radius: 8px;
}

#products .product img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

#products .product > a {
    color: var(--dark-blue);
}

#products .product > a p {
    font-weight: 500;
    font-size: .9em;
}

#products .product > a .price_product {
    font-weight: 700;
    font-size: 2em;
    margin: 10px 0;
}

#products .product .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.1em;
    padding: 15px;
    background: var(--bright-blue);
    color: var(--white);
    border-radius: 8px;
}

#products .product .btn svg {
    margin-right: 5px;
}