header .btn.primary {
    background: var(--desaturated-blue);
}

footer .btn.primary {
    background: var(--desaturated-blue) !important;
}

/* App */

.app {
    display: flex;
    flex-direction: column;
}

.top-menu {
    margin: 2em auto;
    overflow: hidden;
    display: flex;
}

.top-menu .btn {
    padding: 15px;
    width: 150px;
    text-align: center;
    font-weight: 700;
    color: var(--dark-blue);
    background: var(--white);
}

.top-menu .btn:hover {
    color: var(--desaturated-blue);
    transition: 200ms;
}

.top-menu .btn.activated {
    color: var(--white);
    background-color: var(--bright-blue);
}

.app .content {
    width: 100%;
    margin: 2em auto 8em auto;
    color: var(--dark-blue);
    
}

.app .content h2 {
    font-size: 1.8em;
}

.app .content form label { 
    font-weight: 700;
    font-size: 1.4em;
    margin-top: 1em;
    display: block;
}

.app .content form input { 
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    font-weight: 500;
}

.app .content form input[type="submit"] { 
   margin-top: 1em;
}

/* End App */

/* Form */

#form-adress.visible{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#form-adress {
    display: none;
}

form div { 
    width: 48% !important;
}

form div.w-100 {
    width: 100% !important;
}

form input {
    outline: none;
}

form input[type="submit"] {
    background: var(--bright-blue);
    color: var(--white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* End Form */

/* add-adress */

#add-adress {
    color: var(--white);
    background: var(--dark-blue);
    outline: none;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 1.2em;
    cursor: pointer;
    margin: 10px 0;
}

/* End add-adress */

.btn.logout {
    margin-top: 1em;
    display: inline-block;
}

h1 { 
    margin: 1em 0;
}