header .btn.primary {
    background: var(--desaturated-blue);
}

footer .btn.primary {
    background: var(--desaturated-blue) !important;
}

/* App */

.app {
    display: flex;
    flex-direction: column;
}

.top-menu {
    margin: 2em auto;
    overflow: hidden;
    display: flex;
}

.top-menu .btn {
    padding: 15px;
    width: 150px;
    text-align: center;
    font-weight: 700;
    color: var(--dark-blue);
    background: var(--white);
}

.top-menu .btn:hover {
    color: var(--desaturated-blue);
    transition: 200ms;
}

.top-menu .btn.activated {
    color: var(--desaturated-blue);
}

.app .content {
    width: 80%;
    margin: 2em auto 8em auto;
    color: var(--dark-blue);
}

.app .content h2 {
    font-size: 1.8em;
}

.app .content form label { 
    font-weight: 700;
    font-size: 1.4em;
    margin-top: 1em;
    display: block;
}

.app .content form input { 
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    font-weight: 500;
}

.app .content form input[type="submit"] { 
   margin-top: 1em;
}

/* End App */